#main {
    width: 1200px;
    margin-top: 20px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    background: #eee;
    padding: 20px;
    border-radius: 7px;
}

#main-content {
    background-color: #ddd;
    border-radius: 3px;
}